%aside.hidden.sm:flex.sm:flex-col.justify-between.text-gray-500.bg-white.w-fit
  %nav
    = link_to '/',
              class: ['block', 'py-2.5', 'px-4', 'my-4', 'rounded-sm',
                      'hover:bg-cyan-500', 'hover:text-white'] do
      %i.fa-solid.fa-house.mr-1
      Dashboard
    = link_to 'devices',
              class: ['block', 'py-2.5', 'px-4', 'my-4', 'rounded-sm',
                      'hover:bg-cyan-500', 'hover:text-white'] do
      %i.fa-solid.fa-sim-card.mr-2
      Devices
    = link_to '',
              class: ['block', 'py-2.5', 'px-4', 'my-4', 'rounded-sm',
                      'hover:bg-cyan-500', 'hover:text-white'] do
      %i.fa-solid.fa-users.mr-1
      Users

  -# %div
  -#   .bg-gradient-to-r.from-cyan-300.to-cyan-500.h-px.mt-2
  -#   %p.mb-1.px-5.py-3.text-left.text-xs.text-cyan-500.text-wrap &copy; 2025 Justin's Engineering Services, LLC
